{% extends "slayout/base.html" %}
{% block staffblock %}
{% load static %}
<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-4">
    <div class="card-header bg-success text-white text-center rounded-top-4">
      <h4 class="mb-0">User List</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
          <thead class="table-dark text-center">
            <tr>
              <th>Reg ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Gender</th>
              <th>DoB</th>
              <th>Role Name</th>
              <th>Address</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for user in data %}
            <tr class="table-success">
              <td>{{user.reg_id}}</td>
              <td>{{user.Name}}</td>
              <td>{{user.Email}}</td>
              <td>{{user.Mobile}}</td>
              <td>{{user.Gender}}</td>
              <td>{{user.DOB}}</td>
              <td>{{user.Role_Name}}</td>
              <td>{{user.Address}}</td>
              <td>{{user.Status}}</td>
            </tr>
            {% endfor %}

            {% for user1 in data1 %}
            <tr>
              <td>{{user1.reg_id}}</td>
              <td>{{user1.Name}}</td>
              <td>{{user1.Email}}</td>
              <td>{{user1.Mobile}}</td>
              <td>{{user1.Gender}}</td>
              <td>{{user1.DOB}}</td>
              <td>{{user1.Role_Name}}</td>
              <td>{{user1.Address}}</td>
              <td>{{user1.Status}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}