
<header class="p-3 bg-dark text-white">
<div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}"  class="nav-link px-2 link-primary fw-semibold" >Home</a></li>
          <li><a href="{% url 'contact'%}"  class="nav-link px-2 link-primary fw-semibold">contact</a></li>
          <li><a href="{% url 'about'%}"  class="nav-link px-2 link-primary fw-semibold">about</a></li>
          <li><a href="{% url 'faq'%}"  class="nav-link px-2 link-primary fw-semibold">faq</a></li>
          <li><a href="{% url 'gallary'%}"  class="nav-link px-2 link-primary fw-semibold">gallary</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

       <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'login' %}">Login </a></button>
          <button type="button" class="btn btn-warning"><a href="{% url 'register' %}">Sign-up</a></button>
          <button type="button" class="btn btn-warning" style="background: red;"><a href="{% url 'logout' %}">Logout</a></button>
      
        </div>
        
      </div>
    </div>
    </header>
   
    